<h1 class="mb-4">Editing Friend</h1>

<%= render 'form', friend: @friend %>

<%= link_to 'Back', :back, class:"btn btn-dark" %>
<%= link_to 'Delete Friend', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
